<section class="section-7 container">
    <div class="section-7__box">
        <div class="section-7__item">
            <h2 class="section-7__title">12</h2>
            <p class="section-7__text">Years Of Experiance</p>
        </div>
        <div class="section-7__item">
            <h2 class="section-7__title">5K</h2>
            <p class="section-7__text">Success Project</p>
        </div>
        <div class="section-7__item">
            <h2 class="section-7__title">1K</h2>
            <p class="section-7__text">Active Project</p>
        </div>
        <div class="section-7__item">
            <h2 class="section-7__title">4K</h2>
            <p class="section-7__text">Happy Customers</p>
        </div>
    </div>
</section>